@model FoodAndBeverage
@{
    ViewData["Title"] = "AddOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; margin-top:0.5em; margin-bottom:0.5em; color:#FAAB78;">Add Order</h2>

<form method="post" asp-action="AddOrder">
    <div class="form-group">
        <label id="tableid">Table No</label>
        @if (ViewBag.TableNo != null)
        {
            <input required type="text" name="tableid" value="@ViewBag.TableNo" readonly class="form-control" />
        }
        else
        {
            <select required class="form-control" name="tableid" id="tableid">
                <option value="">Select a table...</option>
                @foreach (var item in Model.tables)
                {
                    @if (item.Tableid != 0)
                    {
                        <option value="@item.Tableid">@item.Tableid</option>
                    }
                    else
                    {
                        <option value="@item.Tableid">Online</option>
                    }
                }

            </select>
        }

        <label id="staffid">Staff Name</label>
        <select required class="form-control" name="staffid" id="staffid">
            <option value="">Select a staff...</option>
            @foreach (var item in Model.staffLists)
            {
                <option value="@item.Staffid">@item.Staffname - @item.Stafftype</option>
            }
        </select>

        <label id="orderaddress">Order Address</label>
        <input type="text" name="orderaddress" class="form-control" placeholder="For online orders..." />


        <label>Food Name</label>
        <select class="form-control" name="foodname" id="foodname">
            <option value="">Select a food...</option>
            @foreach (var item in Model.Foodlists)
            {
                <option value="@item.Foodname">@item.Foodname <span>&#8378</span>@item.Foodprice</option>
            }
        </select>
        <label>Beverage Name</label>

        <select class="form-control" name="beveragename" id="beveragename">
            <option value="">Select a beverage...</option>
            @foreach (var item in Model.Beveragelist)
            {
                <option value="@item.Beveragename">@item.Beveragename <span>&#8378</span>@item.Beverageprice</option>
            }
        </select>
    </div>
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>


